

*{
	padding: 0;
	margin: 0;
}
ul{
	padding-left: 40px;
}
p{
	margin-bottom: 20px;
}

h1{
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 10px;
}
h2{
	font-size: 1.25rem;
	font-weight: 500;
	margin-bottom: 10px;
}
li{
	line-height: 1.5;
}


.logoContainer{
	text-align: center;
}
.logo{
	height: 30px;
	margin: 10px 0;
	cursor: pointer;
}

.headerContainer{
	height: 80vh;
	width: 100%;
}
.titleContainer{
	text-align: center;
	position: relative;
	top: 45%;
	transform: translateY(-50%);
}
.actionBtn{
	padding: 10px 20px;
	border: none;
	background-color: #b4d02f;
	color: white;
	text-decoration: none;
	cursor: pointer;
	border-radius: 5px;
	font-size: 1.2rem;
}
.actionBtn:hover{
	background-color: #a6c126;
	padding: 12px 22px;
}
.actionBtn:active{
	padding: 10px 20px;
	background-color: #b4d02f;
}


.instruction{
	padding-top: 50px;
	overflow-x: hidden;
}
.instruction__belt{
	padding-top: 100px;
	width: 200%;
	display: flex;
	position: relative;
	left: 0;
	transition: left 0.4s;
}
.instruction__belt__step1{
	width: 100%;
}
.instruction__belt__step2{
	width: 100%;
}
.instruction__stepButtonContainer{
	width: 60%;
	margin: 0 auto;
	display: flex;
}
.instruction__stepButtonContainer__item{
	flex: 1 1 auto;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	cursor: pointer;
	text-decoration: underline;
}
.instruction__stepButtonContainer__item:first-child{
	border-right: 1px dashed #aaa;
}
.active{
	color: #2090ab;
}

.instruction__belt__step1__imgContainer{
	height: 95px;
	width: 90%;
	margin: 0 auto;
	background-color: #d4ffad;
	text-align: center;
	border-top: 1px solid black;
}
.instruction__belt__step2__imgContainer{
	height: 95px;
	width: 90%;
	margin: 0 auto;
	background-color: #c4fdff;
	text-align: center;
	border-top: 1px solid black;
}
.instruction__belt__step{
	width: 80%;
	margin: 30px auto 100px auto;
	display: flex;
}
.instruction__belt__step__text{
	margin-right: 20px;
	flex: 1;
}
.instruction__belt__step__imgContainer{
	flex: 1;
}
.instruction__belt__step__imgContainer img{
	width: 100%;
	border: 1px solid #444;
}
.instruction__belt__step1__imgContainer__img{
	position: relative;
	top: -109px;
	height: 200px;
}

.instruction__belt__step2__imgContainer__img{
	position: relative;
	top: -110px;
	height: 200px;
}



.footerContainer{
	background-color: #1b1c1d;
	text-align: center;
	width: 100%;
}
.footerContent{
	padding: 50px 0;
}
.footerContent__githubBtn{
	padding: 10px;
	border: none;
	background-color: #6a7d91;
	color: white;
	text-decoration: none;
	cursor: pointer;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	transition: transform 0.4s;
	font-size: 0.9rem;
}
.footerContent__githubBtn:hover{
	background-color: #59697a;
}
.white-font{
	color: white;
}

.feature{
	width: 80%;
	margin: 0 auto;
	display: flex;
}
.feature__item{
	flex: 1 1;
	position: relative;
}
.feature__item  img{
	width: 100%;
	border-radius: 7%;
}
.feature__item__content{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.4s;
}
.feature__item__content > img{
	width: 100%;
}
.feature__item__content:hover{
	opacity: 1;
}


/*----------google font-------------------*/
body{
	font-family: 'Montserrat', sans-serif;
}
/*----------end google font-------------------*/
@media only screen and (max-width: 767px){
	.instruction__belt__step1__imgContainer{
		width: 100%;
	}
	.instruction__belt__step2__imgContainer{
		width: 100%;
	}

	.feature{
		flex-wrap: wrap;
	}
	.feature__item{
		flex: 1 1 50%;
	}
	.instruction__belt__step{
		flex-wrap: wrap;
	}
	.instruction__belt__step__text{
		margin-right: 0;
		flex: 1 1 100%;
	}
	.instruction__belt__step__imgContainer{
		flex: 1 1 100%;
		margin-top: 30px;
	}
}
